<a href="https://colab.research.google.com/github/chetan6780/ML-Training/blob/master/Assignments/ML_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting a Startups Profit/Success Rate using Multiple Linear Regression.

### TASK:
Here 50 startups dataset containing 5 columns  like “R&D Spend”, “Administration”, “Marketing Spend”, “State”, “Profit”.

In this dataset first 3 columns provides you spending on Research , Administration and Marketing respectively. State indicates startup based on that state. Profit indicates how much profits earned by a startup.

Clearly, we can understand that it is a multiple linear regression problem, as the independent variables are more than one.

Prepare a prediction model for profit of 50_Startups data in Python

### Importing required libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

### Reading the dataset.

In [2]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data/50_Startups.csv")
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
x = dataset.drop(['State','Profit'],axis=1) # We need first 3 columns
y = dataset['Profit']

In [4]:
x.shape

(50, 3)

In [5]:
y.shape

(50,)

### Splitting the dataset into train and test data.

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 3)

### Creating model

In [7]:
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Predicting the Test set results.

In [8]:
y_predict = lm.predict(x_test)
y_predict

array([128422.55633758,  85334.13896537, 156260.67740131,  44177.6283857 ,
        95374.75131793,  96731.30750769, 125991.16528462,  53803.60558367,
        46288.74750683, 158711.11515227,  72565.70941538, 109420.62523673,
        93820.24534044])

### Calculating the accuracy and mean squared error of our model.

In [9]:
accuracy = r2_score(y_test,y_predict)
print("Accuracy:",accuracy)
print("mean_squared_error:",mean_squared_error(y_test,y_predict))

Accuracy: 0.9226030382828481
mean_squared_error: 106212269.93132874

------------------------